{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>Safario - Package</title>
    {% endblock title %}
</head>

{% block content %}
    <link rel="stylesheet" href="static/css/package.css">
    <!-- <section class="section-margin generic-margin mt-5">
        <div class="container">
            <div class="section-intro text-center pb-85px">
                <img class="section-intro-img" src="static/img/packages/packages.png" alt="">
                <h2>Packages</h2>
            </div>
            <div class="row">
                 <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/honeymoon.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Honeymoon</h3>
                            </div>
                        </a>
                    </div>
                </div> 
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/family.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Family Vacation</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/weekend.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Weekend Getaway</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/business.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Business Meet</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/group.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Group Travel</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/worldtour.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h3>Around the World</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section-margin generic-margin mt-5">
        <div class="container">
            <div class="section-intro text-center pb-85px">
                <img class="section-intro-img" src="static/img/packages/destinations.png" alt="">
                <h2>Destinations</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/paris.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="paris">
                                    <h3>Paris</h3>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
						<img class="card-img-top" src="static/img/packages/tokyo.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="tokyo">
                                    <h3>Tokyo</h3>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
						<img class="card-img-top" src="static/img/packages/prague.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="prague">
                                    <h3>Prague</h3>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/los_angeles.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="los_angeles">
                                    <h3>Los Angeles</h3>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                       <img class="card-img-top" src="static/img/packages/cyprus.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="cyprus">
                                    <h3>Cyprus</h3>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="card" onclick="openForm()" style="width: 20rem;">
                        <img class="card-img-top" src="static/img/packages/italy.jpg" alt="Card image cap">
                            <div class="card-body">
                                <a href="venice">
                                    <h3>Venice</h3>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
</html>
