{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        <title>Safario - Paris Package</title>
        {% endblock title %}
    </head>

{% block content %}

    <link rel="stylesheet" href="static/css/banner.css">
    <link rel="stylesheet" href="static/css/form.css">
    <div class="banner" style="background-image: url('static/img/packages/paris.jpg')">
        <div class="wrapper">
            <div class="banner__text">
                <h3 class="banner__text-title">Paris</h3>
                <div class="col text-center">
                    <button onClick=openForm() class="btn btn-default">Book Now!</button>
                </div>
            </div>
        </div>
    </div>

    <section class="section-margin generic-margin mt-5">
        <div class="container">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/Louvre Museum.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Louvre Museum</h5>
                        <p class="card-text">The Louvre, or the Louvre Museum, is the world's largest art museum and a
                            historic monument in Paris, France. A central landmark of the city, it is located on the
                            Right Bank of the Seine in the city's 1st arrondissement.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/notre-dame-de-paris.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Notre Dame Cathedral</h5>
                        <p class="card-text">Notre-Dame de Paris, referred to simply as Notre-Dame, is a medieval
                            Catholic cathedral on the Île de la Cité in the 4th arrondissement of Paris. The cathedral
                            was consecrated to the Virgin Mary and considered to be one of the finest examples of French
                            Gothic architecture.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/Arc de Triomphe.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Arc de Triomphe</h5>
                        <p class="card-text">The Arc de Triomphe de l'Étoile is one of the most famous monuments in
                            Paris, France, standing at the western end of the Champs-Élysées at the centre of Place
                            Charles de Gaulle, formerly named Place de l'Étoile—the étoile or "star" of the juncture
                            formed by its twelve radiating avenues.</p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/Palace-of-Versailles.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Palace of Versailles</h5>
                        <p class="card-text">The Palace of Versailles was the principal royal residence of France from
                            1682, under Louis XIV, until the start of the French Revolution in 1789, under Louis XVI. It
                            is located in the department of Yvelines, in the region of Île-de-France, about 20
                            kilometres southwest of the centre of Paris.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/Champs Elysées.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Elysees</h5>
                        <p class="card-text">The Avenue des Champs-Élysées is an avenue in the 8th arrondissement of
                            Paris, France, 1.9 kilometres long and 70 metres wide, running between the Place de la
                            Concorde and the Place Charles de Gaulle, where the Arc de Triomphe is located.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="static/img/packages/places/Montmartre.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Montmartre</h5>
                        <p class="card-text">Montmartre is a large hill in Paris's 18th arrondissement. It is 130 m high
                            and gives its name to the surrounding district, part of the Right Bank in the northern
                            section of the city.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="form-popup" id="myForm">
        <form action="" class="form-container">
          <h1>Tell us more</h1>

          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" required>

          <label for="package"><b>Package</b></label><br>
          <select name="package" id="package" required>
              <option value="">Choose package</option>
              <option value="Honeymoon">Honeymoon</option>
              <option value="Family Vacation">Family Vacation</option>
              <option value="Weekend Getaway">Weekend Getaway</option>
              <option value="Business Meet">Business Meet</option>
              <option value="Group Travel">Group Travel</option>
              <option value="Around the World">Around the World</option>
            </select>

            <br><br>

          <label for="destination"><b>Destination</b></label><br>
          <select name="destination" id="destination" required>
              <option value="">Pick your destination</option>
              <option value="Paris">Paris</option>
              <option value="Tokyo">Tokyo</option>
              <option value="Prague">Prague</option>
              <option value="Los Angeles">Los Angeles</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Venice">Venice</option>
            </select>

            <br><br>

            <label for="contact"><b>Contact number</b></label>
          <input type="text" placeholder="Enter contact number" name="contact" required>

          <button type="submit" class="submit_btn" onclick="popup()">Submit</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
  </div>

  <script>
      function openForm() {
            document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
            document.getElementById("myForm").style.display = "none";
      }

      function popup() {
            alert("Thank you❤\nWe'll get in touch with you soon.");
      }
  </script>
{% endblock content %}

</html>